@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: red 2px solid; */
}

body {
    font-family: Roboto;
    /* font-weight: 200; */
}

.header-contaner {
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    display: flex;
    justify-content: space-between;
    /* border: red 2px solid; */
    align-content: baseline;
    padding: 0 20px;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.a-link {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-contaner {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.hero {
    width: 900px;
    height: 300px;
    display: flex;
    padding: 0 20px;
    gap: 20px;
}

.hero-section {
    /* border: red solid 2px; */
    /* height: 300px; */
    width: 100%;
}

/* .left {
    
    
}

.image {

} */

.hero-line {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    padding: 5px 24px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.hero-image {
    background-color: gray;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

/* Information section  */

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    /* text-align: center; */
    margin-bottom: 30px;
}

.info-image {
    border: #3882F6 3px solid;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.info-contaner {
    width: 150px;
    text-align: center;
}

.info-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    text-align: center;
    margin-bottom: 60px;
}
